:root {
    --lite-accent:#cfcfcf;
    --mid-tone-lite:#737373;
    --mid-tone:#404040;
    --mid-tone-dark:#262626;
    --dark-accent:#0D0D0D;
}

body {
    background-color: var(--mid-tone);
}

h1 {
    color: var(--lite-accent);
}